<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://www.edigitalagency.com.au/wp-content/uploads/airbnb-logo-png-transparent-background.png" />
      </a>
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item-create-booking">
              <a class="nav-link" href="#">Airbnb your home</a>
            </li>
            <li class="nav-item-username">
              <a class="nav-link" href="#">User Name</a>
            </li>
            <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://source.unsplash.com/random/?face" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">My profile</a>
                <a class="dropdown-item" href="#">Messages</a>
                <a class="dropdown-item" href="#">My history</a>
                <a class="dropdown-item" href="#">My bookings</a>
                <a class="dropdown-item" href="#">My reviews</a>
                <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
              </div>
            </li>
            <!--li class="nav-item"-->
            <!--/li-->
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="show-container">

  <div class="container overflow-hidden">

    <div class="row" style="height: 440px">
      <div class="p-3 col-4 h-100">
        <div class="red" style="background-image: url('https://source.unsplash.com/random/?home&2')"></div>
      </div>

      <div class="col-4 h-100 row">

        <div class="p-3 h-50 w-100 col-12">
          <div class="red" style="background-image: url('https://source.unsplash.com/random/?home&3')"></div>
        </div>

        <div class="px-3 py-3 h-50 w-50 col-6">
          <div class="red" style="background-image: url('https://source.unsplash.com/random/?home&4')"></div>
        </div>

        <div class="px-3 py-3 h-50 w-50 col-6">
          <div class="red" style="background-image: url('https://source.unsplash.com/random/?home&5')"></div>
        </div>
      </div>

      <div class="p-3 col-4 h-100">
        <div class="red" style="background-image: url('https://source.unsplash.com/random/?home&6')"></div>
      </div>
    </div>
  </div>
  <div class="show-data">
    <div class="show-info">
      <div class= "property-infos">
        <p id="property-type">Property type: Villa</p>
        <h2>This is the title of my property</h2>
        <h3>14 guests • 6 bedrooms • 4 bathrooms • sauna</h3>
        <p id="show-description"><%= @offering.description %> An ideal magical place to gather, the splendid chalet overlooks the city with a magnificent view of mountains near the ski resort.
          On 3 levels, with an area of 254m², the chalet benefits from 6 bedrooms, 4wc, 3 baths
          This proprity features a games room, sauna and outdoor spa.
          This magical place are ideally designed to accommodate 14 people.
        </p>
      </div>
    </div>
    <div class="show-reservation">
      <div class= "property-infos">
      <div class="price-rating">
        <div class="price-night">
          <span class="price">€<%=@offering.price_per_night %></span>
          <span class="night"> / night</span>
        </div>
        <div class="rating-night">
          <i class="fa-solid fa-star"></i> <%= @offering.average_rating %>

        </div>
      </div>
        <a id="reserve-button" href="#reservefuntion">Reserve now</a>
      </div>
    </div>
  </div>
</div>
