.booking-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 130px;
  position: relative;
}

.booking-container h2 {
  position:absolute;
  bottom: 625px;
  font-size: 22px;
  font-weight: bold;
}

.bookings-container {
  background-color: rgba(255, 255, 255, 0.798);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  width:60%;
  height: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  margin-left:126px;
  margin-right: 126px;
  margin-bottom: 30px;
}

.booking-card {
 border-bottom: 1px solid #ebebeb;
 margin-top: 20px;
}

.booking-img {
  margin-top: 27px;
  object-fit: cover;
  height: 110px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  width: 110px;
  background-position: center;
  border-radius: 8px !important;
}

.booking-info{
  padding: 0 30px 30px 30px ;
  overflow-y: scroll;
  max-height: 580px;
}

.booking-title-date {
  margin-left: 10px;
}

.booking-card-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.booking-card-bottom {
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 12px;
}

.host {
  margin: 2px 3px 7px 100px;
}

#pending {
  font-size:13px;
  background-color: #e9b832b7;
  color: white;
  padding:8px;
  border-radius: 10px;
  display: table;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

.accepted {
  font-size:13px;
  background-color: #1edd87b7;
  color: white;
  padding:8px;
  border-radius: 10px;
  display: table;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

.declined {
  font-size:13px;
  background-color: #e31212b7;
  color: white;
  padding:8px;
  border-radius: 10px;
  display: table;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

#booking-title {
  font-weight: bold;
  font-size:15px;
}

#booking-date {
  font-size: 12px;
  font-weight: 400;
  border:1px solid salmon;
  padding:8px;
  border-radius: 8px;
  display: table;
  color: rgb(91, 91, 91);
}

.rentals-container {
  background-color: rgba(255, 255, 255, 0.798);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  width:60%;
  height: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  margin-left:126px;
  margin-right: 126px;
  margin-bottom: 30px;
}

.rental-info{
  padding: 0 30px 30px 30px ;
  overflow-y: scroll;
  max-height: 580px;
}

.rental-card {
  border-bottom: 1px solid #ebebeb;
  margin-top: 20px;
}

.fa-sharp {
  color: salmon;
}

.rental-img {
  margin-top: 5px;
  object-fit: cover;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  width: 70px;
  background-position: center;
  border-radius: 50% !important;
}

.rental-card-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rental-card-bottom {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  font-size: 12px;
}

.rental-title-date {
  margin-left: 10px;
}

#rental-title {
  font-weight: bold;
  font-size:15px;
}

#rental-date {
  font-size: 12px;
  font-weight: 400;
  border:1px solid salmon;
  padding:8px;
  border-radius: 8px;
  display: table;
  color: rgb(91, 91, 91);
}

.rental-buttons {
  width:130px;
  display: flex;
  justify-content: space-between;;
  margin-bottom: 16px;
}

.accept{
  font-size:13px;
  background-color: #14b76ecb;
  color: white;
  padding:10px;
  border-radius: 20px;
  display: table;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

.accept:hover {
  box-shadow: 1px 3px 1px 1px #0d7e4bcb;
  transition: 0.5s ease;
  color:white;
}

.decline {
  font-size:13px;
  background-color: #e00808c6;
  color: white;
  padding:10px;
  border-radius: 20px;
  display: table;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

.decline:hover {
  box-shadow: 1px 3px 1px 1px #870505c6;
  transition: 0.5s ease;
  color:white;
}

.rental-host{
  font-size: 12px;
}

#rental-title, .rental-host, #booking-date {
  margin: 10px;
}

.review-accepted {
  font-size:13px;
  background-color: #1edd87b7;
  color: white;
  padding:8px;
  border-radius: 10px;
  display: table;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

.review-button {
  font-size:13px;
  font-weight: bold;
  background-color: none;
  color: rgb(74, 74, 74);
  padding:8px;
  border: 1px solid rgb(74, 74, 74);
  border-radius: 10px;
  display: table;
}

.review-button:hover{
  color: rgb(30, 30, 30);
  border: 1px solid rgb(30, 30, 30);
  transition: 0.3s ease;
}

.booking-review-acepted{
  display: flex;
  justify-content: space-between;
  width: 150px;
}
