.col-md-3 {
  margin-top:10px;
  margin-bottom: 10px;
}

.container {
  padding-top: 75px;
  padding-bottom: 70px;
}

.cards img {
  object-fit: cover;
  height: 260px;
  width: 100%;
  border-radius: 12px !important;
}
