.col-md-3 {
  margin-top:10px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 325px;
  height: 420px;
}


.container {
  // padding-top: 75px;
  padding-bottom: 50px;
}

.cards img {
  position: relative;
  object-fit: cover;
  height: 260px;
  width: 100%;
  z-index:  1;
  border-radius: 12px !important;
}

.card-infos {
  position: relative;
  bottom: 10px;
  background-color: rgba(233, 233, 233, 0.663);
  border-radius: 0 0 12px 12px;
  height: 159px;
}

.cards p.description{
  overflow-y: scroll;
  max-height: 75px;
}

a {
  text-decoration: none;
}

a p{
  color:rgb(91, 91, 91);
}

a h2{
 color:rgb(57, 57, 57);
}

a .card-rating{
  color:rgb(57, 57, 57);
}

.card-descr {
 width: 80%;
}

.card-descr h2 {
  text-decoration: none !important;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.card-descr p {
  text-decoration: none !important;
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-descr .price {
  font-weight: bold;
}


.col-md-3 .card-infos {
  text-decoration: none !important;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  align-items: center;
}

.review-card {
  background-color: rgba(255, 255, 255, 0.798);
  color: $info-color;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  font-size: $info-font;
  width:100%;
  height: 100%;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  margin-top: 30px;

  .user-review {
    font-size: 16px;
    color:rgb(57, 57, 57);
  }
}
