.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 20px rgba(0,0,0,0.05);
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin-left: 16px;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  color:rgb(91, 91, 91);
  top: 4px;
  bottom: 8px;
  right: 8px;
  font-size: 19px;
}

.search-form-control .form-control {
  height: 50px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  width: 700px;
  border-radius: 30px;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.nav-item-create-booking {
  margin-right: 30px;
  border: 1px solid #4A4A4A;
  padding: 8px 11px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-align: center;

}

.nav-item-create-booking:hover {
  opacity: 1;
  border-color:#1EDD88;
  color:#1EDD88;
  transition: ease 0.3ms;
}

.nav-item-username {
  border-left: solid #4a4a4a2b;
  padding: 7px;
}

.navbar-nav.me-auto {
  display: flex;
  align-items: center
}

.links-navbar {
  font-size: 13px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
