.red {
  background: rgb(146, 146, 146);
  border-radius: 12px;
  object-fit: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.show-container {
  width:80vw;
  margin: 0 auto;
}

.show-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-info{
  background-color: rgba(255, 255, 255, 0.798);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  width:50%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.property-infos {
  padding: 20px;

}

.review-info{
  background-color: rgba(255, 255, 255, 0.798);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  margin-top: 35px;
  width:50%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);

  .title {
    color: rgb(109, 109, 109);
  }
}

.review-rating {
  display: flex;
  justify-content: space-between;
}

.review-average-rating {
  font-size: 20px;
  color: rgb(109, 109, 109);
}

.review-card {
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.01);
}

.review-img {
  margin-left:10px;
  object-fit: cover;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  width: 40px;
  background-position: center;
  border-radius: 50% !important;
}

.comment-created {
  display: flex;
  justify-content: space-between;
}

.user-review-content {
  padding:15px;
}

.review-container {
  margin-bottom: 20px;
}

#property-type {
  background-color: #1edd87b7;
  color: white;
  padding:5px;
  border-radius: 10px;
  display: table;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

.property-infos h2 {
  font-size: 22px;
  color: rgb(91, 91, 91);
  font-weight: bold;
}

.property-infos h3 {
  font-size: 12px;
  color: rgb(119, 119, 119);
  display: flex;
  flex-direction: column;
}

.property-reviews {
  padding: 20px;
  width: 100%;

}

#show-description {
  border-top: thin rgb(234, 234, 234);
  text-align: justify;
  color: grey;
  font-weight: lighter;
  font-size: 14px;
}

.show-reservation{
  background-color: rgba(255, 255, 255, 0.798);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  width:30%;
  margin-right: 25px;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  text-align: center;
}
.delete-button {
  background-color: #dd281eb7;
  text-decoration: none !important;
  color: white !important;
  font-size: 18px;
  width: 100% !important;
  display: block;
  line-height: 1.5;
  padding: 0.5em 2em;
  border:none;
  margin-top: 5px;
  box-shadow: 0 2px 0 0 #b01e17b7;
  border-radius: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}
.delete-button a {
  color: white;
}

.delete-button:hover {
  box-shadow: 1px 3px 1px 1px #b01e17b7;
  transition: 0.5s ease;
}

.reserve-button {
  background-color: #1edd87b7;
  text-decoration: none !important;
  color: white !important;
  font-size: 22px;
  width: 100% !important;
  display: block;
  line-height: 1.5;
  padding: 0.5em 2em;
  border:none;
  margin-top: 5px;
  box-shadow: 0 2px 0 0 #18ae6ab7;
  border-radius: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

.reserve-button a {
  color: white;
}

.reserve-button:hover {
  box-shadow: 1px 3px 1px 1px #18ae6ab7;
  transition: 0.5s ease;
}

.price-rating {
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgb(218, 218, 218);
}

.price{
  font-weight:400 !important;
  font-size: 22px;
  color: rgb(34, 34, 34)
}

.night {
  color: grey;
  font-weight: lighter;
  font-size: 15px;
}

.reviews-scroll {
  max-height: 500px;
  overflow-y: scroll;
}
